{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="container row">
    <div class="col col-lg-3">
      <h2>{{ object.name }}</h2>
      <p>{{ object.description }}</p>
      $ {{ object.price }}<br>
      In stock: {{ object.stock_count }}
    </div>
    {% for img in object.images.all %}
      <div class="col col-lg-6">
        <img src="{{ MEDIA_URL }}{{ img.image }}" alt="{{ img.image }}">
      </div>
    {% endfor %}
  </div>
{% endblock %}
